<!-- footer.html -->
    <div class='footer_box' layout='column' layout-align='center center'>

        <div>
            <img src="{{vm.stupidRobotsLogoSrc}}" class="footerLogo">
        </div>

        <div class='footer_nav' layout='row' layout-align='space-between center'>
            <div class='footer_text'>Home</div>
            <div class='footer_spacer'>|</div>
            <div class='footer_text'>Media</div>
            <div class='footer_spacer'>|</div>
            <div class='footer_text'>Events</div>
            <div class='footer_spacer'>|</div>
            <div class='footer_text'>About</div>
            <div class='footer_spacer'>|</div>
            <div class='footer_text'>Contact Us</div>
        </div>

        <div class='footer_social_links' layout='row' layout-align='space-between center'>
            <!-- Facebook -->
            <div class='sm_link' ng-click='openSocialMediaLink("facebook")'>
                <img src='img/facebook.png'>
            </div>

            <!-- Insta -->
            <div class='sm_link' ng-click='openSocialMediaLink("instagram")'>
                <img src='img/instagram.png'>
            </div>

            <!-- Twitter -->
            <div class='sm_link' ng-click='openSocialMediaLink("twitter")'>
                <img src='img/twitter.png'>
            </div>
        </div>

    </div>
